@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Jersey+10&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&display=swap');

body{
    background-color: pink;
}

h1{
    font-size: 3rem;
}
.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
    font-family: "Jersey 25 Charted", sans-serif;
    font-weight: 400;
  font-style: normal;
  }
label
{
    font-size: 2rem;
}

.flexbox-row
{
    display: flex;
}

.rainbow-box {
    width: 80vw;
    height: 200px;
    border-radius: 5px;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}
.isti
{
    height: 10%;
    width: 30%;
}
.flexbox-column
{
    flex: 33.3%;
    padding: 5px;
}

h2
{
    font-family: "Jacquard 12 Charted", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: aqua;
}
p{
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

}

.btn{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: blueviolet;
}